/* BxSlider */

.bx-wrapper .bx-viewport {
  border: none;
}

.bx-wrapper img {
  width: 100%;
  height: auto;
}

.bx-wrapper .bx-controls {
  padding-top: 20px;
  margin-bottom: -25px;
}

/* Homepage bloglist */

.view-homepage-bloglist .view-content .views-row {
  width: 455px;
  float: left;
}

.view-homepage-bloglist .view-content .views-row:nth-child(odd) {
  margin-right: 20px;
}

.view-homepage-bloglist .view-content .views-row .node {
  border-bottom: none;
}

.view-homepage-bloglist .view-content .views-row .node h2 a {
  color: #900;
}

.view-homepage-bloglist .view-content .views-row .node .meta {
  color: #333;
}

.view-homepage-bloglist .view-content .views-row .node .content .field-name-field-node-blog-cover-image img {
  width: 100%;
}

.view-homepage-bloglist .field-name-field-node-blog-facebook-link .field-items a,
.view-homepage-bloglist .field-name-field-node-blog-twitter-link .field-items a,
.view-homepage-bloglist .field-name-field-node-blog-googleplus-link .field-items a {
  width: 23px;
  height: 24px;
  display: inline-block;
  float: right;
  text-indent: -9999px;
  margin-left: 7px;
}

.view-homepage-bloglist .field-name-field-node-blog-facebook-link .field-items a {
  background: url(../../images/facebook.jpg) no-repeat;
}

.view-homepage-bloglist .field-name-field-node-blog-twitter-link .field-items a {
  background: url(../../images/twitter.jpg) no-repeat;
}

.view-homepage-bloglist .field-name-field-node-blog-googleplus-link .field-items a {
  background: url(../../images/googleplus.jpg) no-repeat;
}

.view-homepage-bloglist .view-content .views-row .node h2 a {
  color: #c12b1c;
  font-size: 16px;
}

.view-homepage-bloglist .view-content .views-row .node h2 a:hover {
  text-decoration: none;
}

/* Blog detail page */

body.page-node.node-type-blog h1#page-title {
  color: #c12b1c;
  font-size: 16px;
}

body.page-node.node-type-blog #block-system-main .node {
  padding-bottom: 44px;
}

body.page-node.node-type-blog #block-system-main .node p,
body.page-node.node-type-blog #block-system-main .node .meta {
  color: #070604;
}

body.page-node.node-type-blog #block-system-main .node .meta {
  margin-bottom: -3px;
}

body.page-node.node-type-blog #block-system-main .node p {
  font-size: 14px;
  line-height: 18px;
}

body.page-node.node-type-blog #block-system-main .node .field-name-field-node-blog-googleplus-link,
body.page-node.node-type-blog #block-system-main .node .field-name-field-node-blog-twitter-link,
body.page-node.node-type-blog #block-system-main .node .field-name-field-node-blog-facebook-link {
  width: 23px;
  height: 24px;
  display: inline-block;
  float: right;
  text-indent: -9999px;
  margin-left: 7px;
  margin-bottom: 12px;
}

body.page-node.node-type-blog #block-system-main .node .field-name-field-node-blog-googleplus-link {
  background: url(../../images/googleplus.jpg) no-repeat;
}

body.page-node.node-type-blog #block-system-main .node .field-name-field-node-blog-twitter-link {
  background: url(../../images/twitter.jpg) no-repeat;
}

body.page-node.node-type-blog #block-system-main .node .field-name-field-node-blog-facebook-link {
  background: url(../../images/facebook.jpg) no-repeat;
}

body.page-node.node-type-blog #block-system-main .node .link-wrapper {
  display: none;
}

/* Block 1 (Contact page sidebar second) */

#block-block-1 .content a {
  color: #909090;
}

/* Model list */

.view-models {
}

.view-models .views-row {
}

.view-models .views-row .node {
  padding: 0;
  border-bottom: none;
  margin-bottom: 80px;
}

.view-models .views-row .node h2 {
  display: none;
}

.view-models .views-row .content .cover-image-big {
  margin-bottom: 15px;
}

.view-models .views-row .content .cover-image-big img {
  width: 100%;
}

.view-models .field-name-field-node-model-cover-image .field-item {
  display: inline-block;
  margin-right: 10px;
  vertical-align: top;
}

.view-models .field-name-field-node-model-facebook-link .field-items a,
.view-models .field-name-field-node-model-twitter-link .field-items a,
.view-models .field-name-field-node-model-googleplus-link .field-items a {
  width: 23px;
  height: 24px;
  display: inline-block;
  float: right;
  text-indent: -9999px;
  margin-left: 7px;
}

.view-models .field-name-field-node-model-facebook-link .field-items a {
  background: url(../../images/facebook.jpg) no-repeat;
}

.view-models .field-name-field-node-model-twitter-link .field-items a {
  background: url(../../images/twitter.jpg) no-repeat;
}

.view-models .field-name-field-node-model-googleplus-link .field-items a {
  background: url(../../images/googleplus.jpg) no-repeat;
}

.view-models .views-row .more a {
  color: #900;
  font-style: italic;
}

/* Model detail page */

body.page-node.node-type-model h1#page-title {
  display: none;
}

body.page-node.node-type-model #block-system-main .content .node .content .more a {
  color: #900;
  font-style: italic;
}

/* Bike list */

.view-bike-list .views-field a img {
  margin-bottom: 14px;
}

/* Shop home */

.view-shop-home-slideshow .bx-viewport .catergory-line {
  position: absolute;
  bottom: 60px;
  width: 100%;
  background-color: #B33026;
}

.view-shop-home-slideshow .bx-viewport .catergory-line ul {
  padding: 10px 10px 10px 30px;
  text-align: left;
  width: 930px;
  margin: 0px auto;
}

.view-shop-home-slideshow .bx-viewport .catergory-line ul li {
  display: inline-block;
}

.view-shop-home-slideshow .bx-viewport .catergory-line ul li a {
  color: #eee;
  text-shadow: none;
  font-size: 16px;
  text-transform: uppercase;
  padding: 0 15px;
  border-right: 1px solid #eee;
}

.view-shop-home-slideshow .bx-viewport .catergory-line ul li.active a {
  color: #999;
}

.view-shop-home-slideshow .bx-viewport .catergory-line ul li:last-child a {
  border-right: none;
}

.view-shop-home .view-content .views-row {
  width: 300px;
  float: left;
  margin-right: 15px;
  margin-bottom: 50px;
  text-align: center;
  border-bottom: 1px solid #CCC;
}

.view-shop-home .view-content .views-row:nth-child(3n) {
  margin-right: 0;
}

.view-shop-home .view-content .views-row .views-field-title {
  margin: 10px 0;
}

/* Advertisement list */

.view-advertisement-list .view-content {
  margin-bottom: -20px;
}

.view-advertisement-list .view-content .views-row {
  margin-bottom: 15px;
}

/* Basic page template */

body.page-node.node-type-page h1#page-title {
  display: none;
}